body {
	background-Color:pink;
	font-family: Tahoma;
}

h1 {
	margin:0.3em 0.3em 0.3em 0em;
	background: white;
	border: thin solid black;
	padding:5px;
}

h3 {
	margin:0.3em;
}

fieldset {
	width: 640px;
	border: thin solid black;
	background-Color: #ffffff;
}

legend{
	font-size:1.5em;
	font-weight:bold;
}


br{
	margin:0.5px;
}

div {
	position: absolute;
	top: 85px;
	left: 380px;
	width: 450px;
	border: thin solid black;
	padding-bottom: 10px;
	padding-left: 15px;
	background-Color: #ffffff;
	margin-left: 20em;
	line-height: 1.5em;
}

button {
	position: absolute;
	top: 370px;
	left: 700px;
	width: 150px;
}

.text{
	font-size:1.2em;
}

#missing{
	position: absolute;
	top: 400px;
	left: 380px;
	width: 145px;
	background-Color: #F2F2F2;
	border: none;
	padding-left: 5px;
	color: red;
}

label::after {
	content:"";
	display: block;
}