@charset "utf-8";

#DrawPile {
	background-color: orange;
	width: 120px;
	height: 180px;
	border: solid thin black;
	position: absolute;
	left: 5px;
	top: 5px;
	text-align: center;
}

#DiscardPile {
	background-color: lightblue;
	width: 120px;
	height: 180px;
	border: solid thin black;
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center;
}

#HandCards {
	width: 90%;
	height: 190px;
	border: solid thin black;
	position: absolute;
	bottom: 5px;
	display: inline-block;
}

.HandCards {
	display: inline-block;
	bottom: 2px;
	margin: 4px;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

.red{
	background: red;
	width: 120px;
	height: 180px;
	border: solid thin black;
	}

.blue{
	background: blue;
	width:120px;
	height:180px;
	border:solid thin black;
	color: white;
}

.green{background: green;
	width:120px;
	height:180px;
	border:solid thin black;
	}
	
.yellow{background: yellow;
	width:120px;
	height:180px;
	border:solid thin black;
	}

.black{background: black;
	width:120px;
	height:180px;
	border:solid thin black;
	color:white;
}
